<div style="text-align: center">
    <h2>Selamat Datang di Cinema EDA</h2>
    <table style="width:50%;">
        <tr>
            <td><h2><a href='/movies'>Movies</a></h2></td>
            <td><h2><a href='/movies/category'>Find by Category</a></h2></td>
        </tr>
    </table>
</div>