<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
    *{
        background-color: dimgray;
    }
    a{
        color : gold;
    }
    a:hover{
        color : red;
    }
    li{
        position: relative;
        display: inline-block;
    }
    #head{
        padding:10px;
        display: flex;
        flex-direction: row
    }
    #c{
        margin:-30px 5px;
        font-size: 90px;
        font-family: monospace
    }
    </style>
</head>
<body>
    <header>
            <div id="head">
                    <h1 id='c'>C</h1><h2 style='font-family:fantasy'>inemaEDA</h2>
                    <ul>
                        <li><a href='/'>Home</a></li>
                        <li><a href='/login'>Login</a></li>
                        <li><a href='/register'>Register</a></li>
                    </ul>
            </div>
    </header>