<%-include('../../Partial/navBar/header.ejs')%>
<div style ='margin:10% 35%; font-size: 30px;'>
    <form method = 'post' action='/employees/login'>
        <label>Username</label> <input type='text' name='username' placeholder="username"><br>
        <label>Password</label> <input type='password' name='password' placeholder="password"><br>
        <input type='submit' value='login'><br>
        Register <a href='/employees/register'>click here</a>
    </form>
</div>