<%-include('../../Partial/navBar/header.ejs')%>
<div>
    <form method='post' action='/users/login'>
        <label>User Name </label><input type="text" placeholder="username" name="username"><br>
        <label>Password </label><input type='password' placeholder="password" name='password'><br>
        <input type='submit' value='Login'><br>
        Belum punya akun? -> <a href='/users/register'>Click disini</a> untuk Register<br>
        Lupa Password? -> <a href=''>Click disini</a>
    </form>
</div>