<%-include('../../Partial/navBar/header.ejs')%>
<div>
    <form method='post' action='/users/register'>
        <label>User Name</label> <input type='text' name='username' placeholder="username"><br>
        <label>Password</label> <input type='password' name='password' placeholder="password"><br>
        <label>Confirm Password</label> <input type='password' name='confirmPassword' placeholder="confirm password"><br>
        <label>Phone Number</label> <input type="number" name='phoneNumber' placeholder="08xxxxxxx"><br>
        <label>Email</label> <input type="email" name="email" placeholder="username@example.id"><br>
        <input type='submit' value='Register'>
    </form>
</div>